# Created by https://www.toptal.com/developers/gitignore/api/linux,yarn,gatsby
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,yarn,gatsby

### Gatsby ###
node_modules/

.cache/
public

src/gatsby-types.d.ts

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/linux,yarn,gatsby

# Environment variables
.env*
!.env.example

# Bundle analyser stats
/stats.json
