$backgroundURL: '../../../assets/img/home-bg.gif';
$patternURL: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCA‌​AAAABX3VL4AAAADklEQV‌​QI12P4/5/hPwMACvsC/t‌​mfKMUAAAAASUVORK5CYI‌​I=';
.image-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: rotateZ(360deg);
  will-change: animation;
  background: url($backgroundURL) no-repeat center center fixed;
  background-size: cover;
  i {
    display: block;
    background: rgba(35, 35, 35, 0.75);
    width: 100%;
    height: 100%;
  }
}

.intro-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.6));
  background-size: 2px 2px;
  div.intro-social {
    position: absolute;
    bottom: 30px;
    opacity: 0;
    transition: opacity 600ms ease-in;
    a,
    a:active,
    a:visited {
      color: white;
      margin: auto;
      padding: 10px;
      transition: color 1s;
      &:hover,
      &:focus {
        color: grey;
        text-decoration: none;
      }
    }
    &.visible {
      opacity: 1;
    }
  }
}
