/* Set default font family as Ubuntu font family */

@import 'layout';
div.presentation {
  h1 {
    margin: 5px 0;
    font-size: 55px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-shadow: -5px 0px 10px #101010;
    margin: 0;
  }
  h2 {
    margin: 10px 0 5px 0;
    font-weight: 300;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  h1,
  h2 {
    span {
      color: #828282;
    }
  }
}
