$backgroundURL: '../../../assets/img/home-bg.jpg';
$patternURL: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCA‌​AAAABX3VL4AAAADklEQV‌​QI12P4/5/hPwMACvsC/t‌​mfKMUAAAAASUVORK5CYI‌​I=';
.image-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: url($backgroundURL) no-repeat center center fixed;
  background-size: cover;
  filter: grayscale(85%) brightness(120%) sepia(60%) contrast(70%);
  i {
    display: block;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
  }
}

.intro-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.6));
  background-size: 2px 2px;
  h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
  h2 {
    font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', Helvetica,
      sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    // animation: 1s animate-intro-position;
    &:before,
    &:after {
      content: '|';
      text-align: center;
      display: inline-block;
      padding: 0 14px 0 8px;
      color: rgba(255, 255, 255, 0.3);
    }
  }
  div {
    opacity: 0;
    transition: opacity 200ms ease-in;
    a,
    a:active,
    a:visited {
      color: white;
      margin: auto;
      padding: 10px;
      transition: color 1s;
      &:hover,
      &:focus {
        color: grey;
        text-decoration: none;
      }
    }
    &.visible {
      opacity: 1;
    }
  }
}

@keyframes animate-intro-position {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 1.7rem;
  }
}
